@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
.NavBar{
  background-color: rgb(22, 168, 175);
display: flex;
flex-direction: row;
width: 100%;
flex-grow: 1;
}

.NavBar1{
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
 
}
.title{
  color: rgb(233, 99, 128);
  font-family: 'Acme', sans-serif;
  text-shadow:2px 2px 6px rgb(25, 25, 25);
  font-size: 34px;
}
.title:hover{
  color: rgb(224, 79, 110);
}
.NavBar2{
  display: flex;
  flex-direction: row-reverse;
 flex-grow: 1;
 align-items: center;
 margin-right:10rem ;
}

.button{
  margin-right: 1.8rem;
  border-radius: 8px;
  border:1px solid rgb(43, 42, 42);
  transform:scale(1.6);
  background-color:rgb(235, 109, 136);
  font-family: "Oswald", sans-serif;
   /* font-weight: 600; */
   color: rgb(43, 42, 42);
   padding: 2px;
}
.button:hover{
  transform: scale(1.5);
 transition: 150ms;
}
.buttonHome{
margin-top: 0.35rem;
  border-radius: 12px;
  border:0.6px solid black;
  transform:scale(1.7);
  background-color:rgb(235, 109, 136);
  font-family: 'Nunito', sans-serif;
   font-weight: 600;
   color: black;
   padding: 3px;
   margin-right: 4rem;
}
.buttonHome:hover{
  transform: scale(1.5);
  transition: 150ms;
}

 .App {
  text-align: center;
 
}

